@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff50 #000000;
  transition: 0.1s;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff50;
  border-radius: 20px;
  border: 3px solid #000000;
}

/* HERO */

.hero-hello-animated,
.hero-software-dev-animated {
  -webkit-animation: fade-in 0.5s ease forwards;
  -moz-animation: fade-in 0.5s ease forwards;
  animation: fade-in 0.5s ease forwards;
  opacity: 0;
}

.hero-hello-animated {
  -webkit-animation: slide-left 0.5s ease forwards;
  -moz-animation: slide-left 0.5s ease forwards;
  animation: slide-left 0.5s ease forwards;
  animation-delay: 0.1s;
}

.hero-andre-animated {
  background-size: 400%;
  opacity: 0;

  -webkit-animation:
    fade-in 0.5s ease forwards,
    bg-animation 8s linear infinite;
  -moz-animation:
    fade-in 0.5s ease forwards,
    bg-animation 8s linear infinite;
  animation:
    fade-in 0.5s ease forwards,
    bg-animation 8s linear infinite;
  animation-delay: 0.75s;
}

.hero-software-dev-animated {
  animation-delay: 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes bg-animation {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
}

.hero-subtext-animated {
  -webkit-animation: open-to-left 0.5s ease forwards;
  -moz-animation: open-to-left 0.5s ease forwards;
  animation: open-to-left 0.5s ease forwards;
  animation-delay: 1s;

  width: 0%;
  & > p {
    display: none;

    -webkit-animation: none-to-block 0.5s ease forwards;
    -moz-animation: none-to-block 0.5s ease forwards;
    animation: none-to-block 0.5s ease forwards;
    animation-delay: 2s;
  }
}

@keyframes none-to-block {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes open-to-left {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-marquee {
  animation: marquee-skills 15s infinite linear;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee-skills {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ABOUT */

.about-me-img {
  /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); */
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%, 50% 25%);
}

.about-header-animated {
  -webkit-animation: fade-in 0.5s ease forwards;
  -moz-animation: fade-in 0.5s ease forwards;
  animation: fade-in 0.5s ease forwards;
  -webkit-animation-timeline: view();
  -moz-animation-timeline: view();
  animation-timeline: view();
}
